.clases-container{
    margin:3% 4%;
    padding: 20px 0px;
    border:solid 3px #E2E2E2;
    border-radius: 12px;
}

.clases-container__content{
    display: grid;
    grid-template-columns: [l1]1fr[l2]2fr[l3];
    height: 100%;
    margin-top: 10px;
}

.clases-container__list{
    grid-column: l2/l3;
    justify-content: center;
    align-content: center;
}
.clases-container__actions{
    grid-column: l1/l2;
}

.clases-container__list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.clases-container__list-item img{
    padding: 0;
    box-shadow: 1px 1px 5px rgb(143, 142, 142);


    border-radius: 15px;
    color: whitesmoke;
    width: 100%;
    margin-bottom:10px;
}
.clases-container__list-item{
    font-size: 2rem;
}
.clases-container__list-item h3{
    margin-top: 32px;
    font-weight: 400;
}

.clases-container__container-item{
    display: flex;
    margin-top: 50px;
    justify-content: center;

}
.clases-bt{
    background-color: #00d27b;
    color: whitesmoke;
}
.clases-container__chat{
    display: flex;
    flex-direction: column;
}
.col-1{
    grid-column: l1/l2;
}

a:visited{
    text-decoration: none;
    color:white;
}
@media screen and (max-width: 1000px){
    .clases-container{
        padding:0;
        margin:0px;
        width: 90%;
        border:none;
    }
    .clases-container__content{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}
@media screen and (max-width: 750px){
    .clases-container__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
