



.digital-container__list ul{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.digital-container__list ul li{
    display: flex;
    
}

.digital-container__list-item img{
    padding: 0;
    box-shadow: 1px 1px 5px rgb(143, 142, 142);
    border-radius: 15px;
    color: whitesmoke;
    width: 90%;
    margin-bottom: 20px;
}
.digital-container__list-item img:hover{
    cursor: pointer;
}

a:visited{
    text-decoration: none;
    color:white;
}
@media screen and (max-width:1000px){
    .digital-container{
        padding:0;
        margin:0px;
        width: 100%;
        border:none;
    }
    .digital-container__content{
        display: flex;
        flex-direction: column;
    }
    .digital-container__list-item img{
        padding: 0;
        border:solid 1px grey;
        border-radius: 5px;
        color: whitesmoke;
        width: 100%;
    }
    .digital-container__chat{
        display: flex;
        justify-content: center;
        }
}
@media screen and (max-width:750px){
    .digital-container__list-item img{
        margin-bottom: 10px;
    }
    
.digital-container__list ul{
    padding: 0px;
    justify-content: center;
    }
}

